@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

table td {
  border: 1px solid gray;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 400px;
  height: 580px;
}
